@charset "utf-8";


/* 网站宏观设定 */
body {
    font-family: Arial, Helvetica, sans-serif, "宋体", "黑体", "楷体", "华文行楷";
    overflow-y: scroll;
    background-image: url('./02l.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color:azure;
}

body,div {
    margin: 0;
    padding: 0;
}
img {border: 0;}
ul {list-style: none;}

header{
    background-color: rgba(248, 244, 244, 0.405);
    display: flex;
    justify-content: center;
}

.header{
    width: 1024px;
    height: 20%;
    display: inherit;
    flex-direction: row;
    justify-content: space-between;
}

.header ul {
    float: right;
    align-content: center;
}

.header li {
    width: 40px;
    height: 40px;
}

.main {
    text-align: center;
}

nav{
    background-color: rgba(240, 248, 255, 0.901);
    border: 3px double rgb(105, 105, 105);
    color: black;
}

nav ul{
    margin: 0;
    padding: 10px;
    padding-inline-start: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

nav li{
    max-height: max-content;
}

nav ul a{
    padding: 10px 30px;
    transition: all 1s;
}

nav ul a:hover{
    color: azure;
    background-color: blueviolet;
    transition: all .5s;
}

nav a{
    color: black;
    text-decoration-line: none;
}

/* 博客消息样式 */
.news-area {
    width: 700px;
    height: 600px;
    margin-left: 200px;
}
.news-box {
    max-width: 700px;
    height: 500px;
    margin: 7px auto 0;
    overflow-y: scroll;
}
.news-area h2 {
	max-width: 650px;
	margin: 5px auto 5px 3px;
	padding-top: 15px;
    margin-left: 50px;
}

.news-box ul li{
    max-width: 500px;
    margin: 30px auto 30px 30px;
}

.news-time{
    display: block;
    padding-top: 10px;
    border-top: 1px solid #333333;
}

.pagebottom {
    margin: 5px 0 0;
    width: auto;
    padding: 5px 0;
    font-size: 15px;
    background-color: #23233460;
    text-align: center;
    position: static;
}

/* 文章专区 */
.ArticleHeader{
    margin: 50px 0;
    text-align: center;
}

.ArticleCategory{
    display: flex;
    justify-content: center;
}

.ArticleCategory article{
    display: inherit;
    flex-direction: column;
    width: 900px;
}

.ArticleCategory div{
    display: grid;
    grid: 1fr 1fr / 1fr 1fr 1fr 1fr;
}

.ArticleCategory h1{
    font-size: 3ch;
}

.ArticleCategory p{
    text-align: center;
    width: 200px;
    height: 90px;
    padding: 5px;
    margin: 20px 10px;
    background-color: aliceblue;
    color: black;
    border-radius: 5px;
    box-shadow: 3px 3px 5px 2px rgba(122, 118, 118, 0.727);
    transition: all 1s;
}

.ArticleCategory p:hover{
    background-color: rgba(72, 38, 147, 0.795);
    color: aliceblue;
    transition: all 1s;
}

/* 博客专区 */
.vlog{
    display: flex;
    justify-content: center;
}

.vlog-box{
    width: 1000px;
    display: flex;
    flex-direction: column;
}

.vlog ul{
    display: inherit;
    flex-direction: column;
    overflow-y: scroll;
}

.vlog li{
    padding: 10px;
    margin: 10px;
}

.vlog p{
    margin: 5px 0;
}